
/* SITE WIDE*/

body {
    margin: 0;
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}
.header-title{
    font-size: 2.5rem;
    font-weight: bold;
    color: #1b2b46;
}
.content-padding{
    padding: 60px 120px 40px 120px;
}

.vertical-paddingL{
    padding-right: 40px;
}
.vertical-paddingR{
    padding-left: 40px;
}
.page-main-title{
    font-size: 2.2rem;
    font-weight: bold;
    color: #1b2b46;
    margin-bottom: 20px;
}
.page-subtitle{
    font-size: 2.0rem;
    color: #1b2b46;
}

.profile-box hr {
    max-width: 100rem
}


/* Header*/
.header {
    background-image: url(../img/hairphoto.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 0 auto;
	width: 100%;
	padding-bottom: 30%
}

.loginoutbuttons {
    display: flex;
    justify-content: flex-end;
}
.nav-btn{
    color: #1b2b46;
    background: transparent;
}
.nav-link{
    margin: 8px;
}
.loginout{
    font-weight: bold;
}
.header-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.searchbar {
    margin-top: 100px;
}

.navbuttons{
    display: flex;
}


/* BODY SECTIONS */

/* Home page*/
.howitworks{
    display: flex;
    flex-wrap: wrap;
}
.gethired, .hiresomeone{
    flex: 1;
}


/* FAQ */

.faq {
    margin-left: 10px;
}
.faq h2{
    font-weight: bold;
}
 /* SEARCH RESULTS */
 
 .searchresulttitle{
     text-align: center;
 }
 .searchnoresult{
     text-align:center;
     padding-bottom: 40px;
     padding-top: 40px;
 }

 .all-search-results{
     display: flex;
     flex-wrap: wrap;
     padding-left:50px;
     padding-right:50px;
     justify-content:center;
 }
 .singleprofilecontainer {
     display: flex;
     width: 220px;
     flex-direction: column;
     background-color: #F4F4F4;
     margin: 10px;
     align-items: center;
     border-radius: 8px;
     padding:10px;
 }
.searchresultimg {
     width: 180px;
     height: auto;
     border-radius: 8px 8px 5px 5px;
}
.profile-nickname {
    font-weight: bold;
    background-color: #d9d9dd;
    width: 220px;
    color: #1b2b46;
}
.profilename {
    font-weight: bold;
    color: #1b2b46;
    background-color: #d9d9dd;
    text-align: center;
}

.profile-details {
    text-align: center;
    font-size: 15px;
    margin: 15px;
}

/* Search */
.homepagesearchbar {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: center;
}
.eqHeight {
    height: 39px;
}



/* Profile Page !!!*/
 
.profile-info{
     display: flex;
     padding: 30px 80px 30px 80px;
     flex-wrap: wrap;
     background-color: #F4F4F4;
     border-top: 3px solid #aac8db;
     justify-content: space-around;
 }
.profile-headers{
    font-size: 1rem;
    font-weight: bold;
    color: #1b2b46;
}
.profile-img {
    margin-left: 20px;
    margin-top: 10px;
    max-width: 160px;
    height: auto;
    border-radius: 30px;
    border: 4px solid #1b2b46;
}
.carouselimg{
    max-width: 300px;
    height: auto;
}

.portfolio-padding{
    padding: 40px 120px 0px 120px;
}
.profile-name {
    font-size: 2.4rem;
    font-weight: bold;
    color: #1b2b46;
}
.profile-category{
    font-size: 1.3rem;
    font-weight: bold;
    color: #4a71b2;
}
.profile-city{
    color: #4a71b2;
    font-size: 1.3rem;
}
.profile-head-city{
    color: #1b2b46;
    font-size: 1.4rem;
    font-weight: bold;
}
.profile-header{
    color: #1b2b46;
    font-size: 1.2rem;
    font-weight: bold;
}
.profile-membersince, .review-avg, .review-total{
    color: #4a71b2;
    font-size: 1.2rem;
}
.profilebtn{
    background-color: #FFF;
    margin-bottom: 5px;
    color: #4a71b2;
}

.box-buttons, .profile-maininfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.prof{
    padding: 10px;
}

.profile-para{
    font-size: 1rem;
    color: #1b2b46;
}

.profile-content{
    display: flex;
    flex-direction: column;
    align-content: center;
}

/* CREATE YOUR PROFILE page */
.authorize-div{
    display: flex;
    align-items: center;
}
.auth-text{
    margin-left: 10px;
}
.create-profile-flex{
    display:flex;
    flex-wrap: wrap;
}
.profile-col1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.create-profile-img {
    max-width: 200px;
    height: auto;
    border-radius: 30px;
    border: 4px solid #1b2b46;
}
.profile-form-input{
    display: flex;
    flex-direction:column;
    width: 300px;
    margin-left: 30px;
}
.profile-form-input-lg{
    width: 650px;
}
.profile-topform{
    display: flex;
}
/* Footer*/
.footer {
    background-color: #1b2b46;
}
.footer-nav{
    display: flex;   
    justify-content: space-around;
    padding: 30px 50px 30px 20px;
    color: #FFF;
    font-size: 1.3rem;
}
.footer-profiles, .footer-connect, .footer-about-us{
   display: flex;
   flex-direction: column;
}
.foot-link{
    margin-left: 15px;
} 

.footer a:link {
    color: #FFF;
}
.footer a:active {
    color: #FFF;
}
.footer a:hover {
    color: #AEDDF5;
    text-decoration:none; 
}
.footer a:visited {
    color: #FFF;
}
.footer a:hover {
    color: #AEDDF5;
    text-decoration:none; 
}
.view-btn{
    color: #FFF;
    background-color: #1b2b46;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
}
.socialmediaicons{
    display: flex;
}
.fa {
    margin-right: 20px;
}

 
 /*Reviews display */
 
.singleReview {
     display: flex;
     flex-direction: column;
     background-color: #F4F4F4;
     margin-bottom: 20px;
     padding: 20px;
     border-radius: 8px;
     width: 90%;
}
.reviewerUsername{
    font-weight: bold;
    color: #1b2b46;
}

.review-var{
    color: #4a71bc;
}


/* CONTACT US */
.contact-us-container{
    color: #1b2b46;
}
.contactusform{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin-top: 30px;
}

.contactus-subtitle{
    color: #1b2b46; 
    font-size: 1.3rem;
}

.btn-blue{
    background-color: #c4dee1;
    color: #1b2b46;
}