body {
    margin: 0;
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}


/* Header*/
.header {
    background-image: url(../img/hairphoto.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 0 auto;
	width: 100%;
	padding-bottom: 30%
}
.onset-title{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #1b2b46;
}
.loginoutbuttons {
    display: flex;
    justify-content: flex-end;
}
.header h1 {
    /*text-align: center;*/
    color: #0d1b30;
    font-weight: bold;
}
.header h2 {
    /*text-align: center;*/
    color: #152a4c;
}
.header-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.searchbar {
    margin-top: 100px;
}

.navbuttons{
    display: flex;
}


/* BODY SECTIONS */

/* Home page*/
.howitworks{
    display: flex;
}
.hiresomeone, .gethired, .ourvision {
    margin: 10px;
}
.home-content{
    margin-left: 10px
}
.home-content h2 {
    font-weight: bold;
}

/* FAQ */
.faq p, h3{
    margin: 10px;
}
.faq {
    margin-left: 10px;
}
.faq h2{
    font-weight: bold;
}
 /* SEARCH RESULTS */
 
 .searchresulttitle{
     text-align: center;
 }

 .all-search-results{
     display: flex;
     flex-wrap: wrap;
     padding-left:50px;
     padding-right:50px;
     align-items:center;
 }
 .singleprofilecontainer {
     display: flex;
     width: 220px;
     flex-direction: column;
     background-color: #F4F4F4;
     margin: 10px;
     align-items: center;
     border-radius: 8px;
     padding:10px;
 }
.searchresultimg {
     width: 220px;
     height: auto;
     border-radius: 8px 8px 5px 5px;
}
.profile-nickname {
    font-weight: bold;
    background-color: #d9d9dd;
    width: 220px;
    height: 50px;
    text-align: center;
    border-radius: 0px 0px 5px 5px;
    color: #1b2b46;
}

.profile-details {
    font-size: 15px;
    margin: 15px;
}

/* Search */
.homepagesearchbar {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: center;
}
.eqHeight {
    height: 39px;
}


/* Galley photos*/
.gallerydisplay {
    display: flex;
    flex-wrap: wrap;
}

.singlephoto {
    max-width: 100px;
    height: auto;
}

/* Profile Page*/

 
.profile-info{
     display: flex;
     padding-top: 50px;
     padding-bottom: 50px;
     flex-wrap: wrap;
     background-color: #F4F4F4;
     border-top: 3px solid #aac8db;
     justify-content: space-around;
 }
.profile-headers{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #1b2b46;
}
.profile-img {
    margin-left: 20px;
    margin-top: 10px;
    max-width: 140px;
    height: auto;
    border-radius: 30px;
    border: 4px solid #1b2b46;
}
.profile-name {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.4rem;
    font-weight: bold;
    color: #1b2b46;
}
.profile-category{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    color: #4a71b2;
}
.profile-city{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #4a71b2;
    font-size: 1.3rem;
}
.profile-head-city{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #1b2b46;
    font-size: 1.4rem;
    font-weight: bold;
}
.profile-header{
    color: #1b2b46;
    font-size: 1.2rem;
    font-weight: bold;
}
.profile-membersince, .review-avg, .review-total{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #4a71b2;
    font-size: 1.2rem;
}
.profilebtn{
    background-color: #FFF;
    margin-bottom: 5px;
    color: #4a71b2;
}
.profile-reviewinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.box-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.prof{
    padding: 10px;
}
/*.profile-cv{*/
/*    margin-left: 50px;*/
/*    margin-right: 50px;*/
/*}*/
.profile-cv hr {
    max-width: 100rem;
}

.profile-para{
    font-size: 1rem;
    color: #1b2b46;
}
.profile-title{
    font-size: 1.6rem;
    color: #1b2b46;
    font-weight: bold;
}
.cv-info{
    margin-left: 20px;
}
.profile-content{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.profile-cv{
    margin-left: 50px;
    margin-right: 50px;
}
/* CREATE YOUR PROFILE page */
.authorize-div{
    display: flex;
}
.auth-text{
    margin-left: 10px;
}
.createyourprofile-container{
    margin: 20px;
}
.create-profile-flex{
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-around;*/
}
.create-profile-img {
    max-width: 200px;
    height: auto;
    border-radius: 30px;
    border: 4px solid #1b2b46;
}
.profile-form-input{
    width: 300px;
    margin-left: 30px;
}


/* Footer*/
.footer {
    background-color: #1b2b46;
}
.footer-nav{
    display: flex;   
    flex-direction: row;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px;
    color: #FFF;
    font-size: 1.5rem;
}
.footer-title{
    /*font-size: 1.3rem;*/
    font-weight: bold;
}
.footer ul {
    list-style-type: none;
}
.footer a:link {
    color: #FFF;
}
.footer a:active {
    color: #FFF;
}
.footer a:hover {
    color: #AEDDF5;
    text-decoration:none; 
}
.footer a:visited {
    color: #FFF;
}
.footer a:hover {
    color: #AEDDF5;
    text-decoration:none; 
}
.socialmediaicons {
    display: flex;
}
.socialmediaicons li{
    margin-right: 20px;
}


/* What is the code below for? There's a footer section above this. Not sure what it's doing*/
/* Footer*/
/*.container {*/
/*  margin: 0 auto;*/
/*  width: 100%;*/
/*  color: #333;*/
/*  background: #a3aab5;*/
/*}*/
/*.gallery {*/
/*  display: flex;*/
/*  background: #a3aab5;*/
/*}*/


 
 /*Reviews display */
 
.singleReview {
     display: flex;
     flex-direction: column;
     background-color: #F4F4F4;
     margin-bottom: 20px;
     padding: 20px;
     border-radius: 8px;
     width: 90%;
}
.reviewerUsername{
    font-weight: bold;
    color: #1b2b46;
}

.review-var{
    color: #4a71bc;
}


/* CONTACT US */
.contact-us-container{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #1b2b46;
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.contactusform{
    max-width: 40%;
}
.contactus-title{
    color: #1b2b46;
    font-weight: bold;
    font-size: 1.8rem;
}
.contactus-subtitle{
    color: #1b2b46; 
    font-size: 1.5rem;
}

.btn-blue{
    background-color: #c4dee1;
    color: #1b2b46;
}