
/* Header*/
.header {
    background-image: url(../img/hairphoto.jpeg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;

	margin: 0 auto;

	width: 100%;
	padding-bottom: 30%
}
.loginoutbuttons {
    display: flex;
    justify-content: flex-end;
}
.header h1 {
    /*text-align: center;*/
    color: #0d1b30;
    font-weight: bold;
}
.header h2 {
    /*text-align: center;*/
    color: #152a4c;
}
.header-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.searchbar {
    margin-top: 100px;
}
.navbuttons{
    display: flex;
}
/* Home page*/
.howitworks{
    display: flex;
}
.hiresomeone, .gethired, .ourvision {
    margin: 20px;
}


/*Logged in component*/
.loggedinimg {
    max-width: 50px;
    border-radius: 25px
}

.fa{
    color: #FFF;
}

/* Search */
.homepagesearchbar {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: center;
}
.eqHeight {
    height: 39px;
}

/* Galley photos*/
.gallerydisplay {
    display: flex;
    flex-wrap: wrap;
}

.singlephoto {
    max-width: 100px;
    height: auto;
}

/* Footer*/
.footer {
    background-color: #1b2b46;
}
.footer-nav{
    display: flex;   
    flex-direction: row;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px;
    color: #FFF;
}
.footer ul {
    list-style-type: none;
}
.footer a:link {
    color: #FFF;
}
.footer a:active {
    color: #FFF;
}
.footer a:hover {
    color: #AEDDF5;
    text-decoration:none; 
}
.footer a:visited {
    color: #FFF;
}
.footer a:hover {
    color: #AEDDF5;
    text-decoration:none; 
}
.socialmediaicons {
    display: flex;
}
.socialmediaicons li{
    margin-right: 20px;
}